<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Not Found</title>
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Movie Not Found</h1>
    <h2>Please try again</h2>
    <form action="/recommender">
      <input type="text" name="movie" id="movie" placeholder="Enter a Movie" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
