<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>{{ title }}</h1>
    <form action="/recommender">
        <input type="text" name="movie" id="movie" placeholder="Enter a Movie" />
        <button type="submit">Submit</button>
    </form>
    <div class="recommendations">
        {% for movie in recommendations %}
        <a href="{{ movie.rec_link }}" target="_blank" class="movie-card-link">
            <div class="movie-card">
                <h2>{{ movie.rec_name|title }} ({{ movie.rec_year }})</h2>
                <div class="movie-details">
                    <p><strong>Genre:</strong> {{ movie.rec_genre }}</p>
                    <p><strong>Rating:</strong> {{ movie.rec_rating }}/10</p>
                    <p><strong>MPAA:</strong> {{ movie.rec_mpaa }}</p>
                    <p><strong>Cast:</strong> {{ movie.rec_cast }}</p>
                    <p><strong>Plot:</strong> {{ movie.rec_plot }}</p>
                    <p><strong>Runtime:</strong> {{ movie.rec_runtime }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</body>
</html>
