<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>{{title}}</h1>
    <p>Movie Name: {{rec_name}}, Genre: {{rec_genre}}, Rating:{{rec_rating}}, IMBD Review:{{rec_mpaa}}, Cast: {{rec_cast}}, Plot: {{rec_plot}}, Runtime: {{rec_runtime}}</p>
    <form action="/recommender">
        <input type="text" name="movie" id="movie" placeholder="Enter a Movie" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>